body {
  background-color: rgb(253, 203, 213);
  font-family: "Tsukimi Rounded", serif;
  margin: 0 auto;
  width: 100%;
  height: auto;
}

.banner {
  text-align: center;
  background-color: black;
  height: 100%;
  max-height: 18vh;
  min-height: 5vh;
  width: auto;
}

/* index page */

.banner-menu {
  list-style: none;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  font-weight: bold;
  font-size: 1vw;
  padding: 0;
  margin: 0;
}

ul.banner-menu li {
  width: 180px;
}

ul.banner-menu li a {
  text-decoration: none;
  color: pink;
  transition: all 300ms ease-in-out;
}

ul.banner-menu li a:visited {
  color: pink;
}

ul.banner-menu li a:hover {
  color: #f0558a;
}

.snow-nav-logo {
  width: 12vw;
}

.main {
  display: flex;
  justify-content: center;
  min-height: calc(100vh - 10vh);
}

.main-sub-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10vw 5vw;
  min-height: calc(100vh - 10vh);
}

.about-me-summary {
  padding: 0 8vw 0 14vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1.main-header {
  font-size: 5vw;
  margin: 0 0 2vw;
}

p.main-paragraph {
  font-size: 1.4vw;
  margin-top: 0;
}

.sparkle {
  text-shadow: 0.5vh -0.5vh rgba(255, 255, 255, 0.75);
}

.about-me-photo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 12vw;
}

.main-photo {
  width: 100%;
  max-width: 600px;
  min-width: 200px;
  height: auto;
  border-radius: 80px;
  border: 2px dashed;
  padding: 8px;
}

.check-out-my-work-button {
  background-color: black;
  border: none;
  border-radius: 40px;
  color: pink;
  text-align: center;
  font-size: 1vw;
  font-weight: bold;
  padding: 20px 35px;
  text-decoration: none;
  width: 15vw;
  margin-top: 15px;
  transition: all 500ms ease-in-out;
}

.check-out-my-work-button:hover {
  background-color: #f0558a;
  color: black;
}

/* ////////////// end of index page /////////// */

/* sub page */
.page-container {
  margin: 0 100px;
  text-align: center;
}

h1.page-header {
  font-size: 5vw;
  font-weight: bold;
  text-align: center;
  margin: 15px;
}

/* about me page */
p.about-me-paragraph {
  font-size: 1.6vw;
  line-height: 2.5rem;
  padding: 0 50px;
  text-align: start;
  padding-bottom: 10px;
}

.main-gallery-container {
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  grid-auto-rows: 100px 300px;
  grid-gap: 10px;
  grid-auto-flow: dense;
  margin: 25px 0;
}

.gallery-item {
  width: 100%;
  height: 100%;
  position: relative;
}

.gallery-item .image {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.gallery-item .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  transition: 0.8s ease-in-out;
}

.gallery-item:hover .image img {
  transform: scale(1.5);
}

.gallery-item .text {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 13px;
  font-weight: bold;
  pointer-events: none;
  z-index: 10;
  transition: 0.8s ease-in-out;
}

.gallery-item:hover .text {
  opacity: 1;
  animation: move-down 0.5s linear;
  padding: 1em;
  width: 100%;
}

.w-1 {
  grid-column: span 1;
}

.w-2 {
  grid-column: span 2;
}

.w-3 {
  grid-column: span 3;
}

.w-4 {
  grid-column: span 4;
}

.w-5 {
  grid-column: span 5;
}

.w-6 {
  grid-column: span 6;
}

.h-1 {
  grid-row: span 1;
}

.h-2 {
  grid-row: span 2;
}

.h-3 {
  grid-row: span 3;
}

.h-4 {
  grid-row: span 4;
}

.h-5 {
  grid-row: span 5;
}

.h-6 {
  grid-row: span 6;
}

@keyframes move-down {
  0% {
    top: 10%;
  }
  50% {
    top: 35%;
  }
  100% {
    top: 50%;
  }
}
/* //////////////// end of about me page ///////////// */

/* project page */
.project-container {
  display: flex;
  align-items: center;
  padding: 2vw;
  height: 100%;
  max-height: 35vh;
  min-height: 20vh;
  width: auto;
  margin: 3vw 0px;
}

.project-cover-photo img {
  width: 100%;
  max-width: 25vw;
  min-width: 22vw;
  height: auto;
  flex: 1;
  border-radius: 2vw;
}

.project-des-box {
  margin-left: 5vw;
  flex: 2;
  text-align: start;
}

.project-des-box h2 {
  margin-top: 1.5vw;
  font-size: 2vw;
}

.project-des-box p {
  margin-bottom: 3vw;
  font-size: 1vw;
}

.view-project-button {
  display: flex;
  justify-content: center;
  margin-top: 2vw;
  width: 100%;
  max-width: 7vw;
  min-width: 3vw;
  padding: 1vw 2.2vw;
  border-radius: 3vw;
  border: none;
  background-color: black;
  color: pink;
  text-decoration: none;
  font-size: 1vw;
  font-weight: bold;
  transition: all 500ms ease-in-out;
}

.view-project-button:hover {
  background-color: #f0558a;
  color: black;
}

.seperate-project-line {
  border: 0.15vw solid #f0558a;
  border-radius: 8vw;
}

/* /////////// end of project page  //////////// */

/* contact page */
.contact-paragraph {
  margin-top: 0;
  font-size: 3vw;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 35vw;
  gap: 35px;
  justify-content: center;
}

.contact-input {
  width: 30vw;
  border: none;
  outline: none;
  font-weight: bold;
  font-size: 1vw;
  font-family: "Tsukimi Rounded", serif;
  border-radius: 8vw;
}

input {
  padding: 1.3vw 1.5vw;
}

.contact-form textarea {
  padding: 1.3vw 1.5vw 20vw;
  border-radius: 2vw;
}

.contact-input:focus {
  border: 0.2vw solid #f0558a;
}

.contact-input::placeholder {
  color: rgba(128, 128, 128, 0.6);
}

.contact-form button {
  display: flex;
  align-items: center;
  padding: 1vw 4vw;
  font-family: "Tsukimi Rounded", serif;
  font-size: 1.2vw;
  font-weight: bold;
  color: pink;
  border: none;
  border-radius: 10vw;
  background: black;
  transition: all 500ms ease-in-out;
}

.contact-form button:hover {
  background-color: #f0558a;
  color: black;
  cursor: pointer;
}
/* ////////////// end of contact page /////////////*/

/* footer */
footer {
  background-color: black;
  height: 100%;
  max-height: 18vh;
  min-height: 5vh;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: pink;
  padding: 0vw 10vw;
}

.footer-logo {
  width: 10vw;
}

.footer-link {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  width: 18vw;
  justify-content: space-between;
  font-size: 1.8vw;
}

ul.footer-link li a {
  text-decoration: none;
  transition: all 300ms ease-in-out;
  color: pink;
}

ul.footer-link li a:visited {
  color: pink;
}

ul.footer-link li a:hover {
  color: #f0558a;
}

.email-icon {
  color: pink;
}
/* ////////// end of footer /////////// */

/* ////// under maintainance page ///// */
.under-maintanance {
  text-align: center;
  font-size: 60px;
}
